<%= form_for @student do |f| %>
<h1> New Student Form</h1><br>
Student First Name:
<%= f.text_field :first_name %><br><br>
Student Last Name:
<%= f.number_field :last_name %><br><br>
<%= f.submit 'Create Student' %>
<% end %>